.container {
    margin-left: 0;
  }
  
  .rounded-lg {
    border-radius: 10px;
    overflow: hidden;
  }
  
  .table-rounded th,
  .table-rounded td {
    border-top: none; /* optional, remove if not needed */
  }

  .navbar {
    background-color: #f8f9fa; /* Set the background color to a light color */
    position: fixed; /* Position the navbar fixed at the top */
    width: 100%; /* Set the width to 100% */
    z-index: 9999; /* Ensure the navbar is on top of other elements */
    overflow: hidden; /* Hide the overflow to prevent horizontal scrollbar */
  }

  .navbar::after {
    content: ""; /* Create a pseudo-element for the bottom line */
    display: block;
    height: 1px; /* Set the height of the line */
    background-color: #000; /* Set the color of the line */
    width: 98%; /* Set the width of the line to 90% */
    margin: 0 auto; /* Center the line horizontally */
    position: absolute; /* Position the line absolutely */
    bottom: 0; /* Position the line at the bottom */
    left: 1%; /* Adjust the left offset to center the line */
    right: 1%; /* Adjust the right offset to center the line */
  }
